{% extends 'layout.html.twig' %}

{% block title %}add item{% endblock %}

{% block content %}

    <form action="" method="post">

        <h1>Ajouter un item</h1>
        <input type="text" name="title">
        <button type="submit" value="Envoyer" name="Submit">Envoyer</button>
    </form>

{% endblock %}
