
{% extends 'layout.html.twig' %}

{% block title %}une seule catégorie{% endblock %}

{% block content %}
    <section>
        <main>
            <h1>Category N°{{ category.id }}</h1>
            <ul>
                <li>{{ category.name }}</li> <a href="/categoryEdit">Edit</a>
            </ul>
            <a href='/categories'>Back to list</a>
        </main>
    </section>

{% endblock %}

