{% extends 'layout.html.twig' %}


{% block title %}
    category
{% endblock %}

{% block content %}
    <main>
        <h1>Categrory</h1>
        <ul>
            <li>Name : {{ category.name }}</li>
        </ul>
        <a href='index.php?route=items'>Back to list</a>
    </main>
{% endblock %}